<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504231249022-8hbr0sj3brj84b3c58je6ksd180i4lv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504231249022-8hbr0sj3brj84b3c58je6ksd180i4lv2</string>
	<key>API_KEY</key>
	<string>AIzaSyC4XhmfqilR5yyDXD1c242oTOsHj3ygKl8</string>
	<key>GCM_SENDER_ID</key>
	<string>504231249022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marvel.StudySmart</string>
	<key>PROJECT_ID</key>
	<string>studysmart-28f90</string>
	<key>STORAGE_BUCKET</key>
	<string>studysmart-28f90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504231249022:ios:71f17a8a8402851242c42f</string>
</dict>
</plist>